.card__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  margin: 0 auto;
  max-width: 880px;
  list-style: none;
}

@media screen and (max-width: 800px) and (min-width: 650px) {
  .card__container {
    max-width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .card__container {
    max-width: 282px;
  }
}
