.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
}
.card__content{
  list-style: none;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 282px;
  height: 361px;
  margin: 0 auto auto auto;
  position: relative;



}
.card__description {
  background-color: #ffffff;
  color: black;
  padding: 25px 15px 25px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.card__button-like {
  background: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../images/icon-heart.svg);
  min-width: 21px;
  min-height: 18px;
  background-repeat: no-repeat;
  background-color: white;
}

.card__button-like:hover {
  opacity: 0.5;
}

.button_type_trash {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  min-width: 18px;
  min-height: 19.3px;
  position:relative;
  top: 38px;
  left: 240px;
  background-image: url(../images/icon-trash.svg);



  
  

}



.button_type_image {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border-style: none;
}


.card__button-like_filled {
  background-image: url(../images/heart-icon-fill.svg);

}

