.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;

  right: 0;
  background-color: #00000080;
  z-index: 1000;
}

.popup_opened {
  display: flex;
}

.modal__body {
  position: relative;

  margin: 0 auto;
  border-radius: 10px;
  background-color: #fefefe;
}
.modal__close {
  background-image: url("../images/close-icon.svg ");
  position: absolute;
  outline: inherit;
  padding: 0;
  top: -40px;
  right: -40px;
  border: none;
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.popup__button {
  color: white;
  background-color: black;

  border-radius: 3px;
  border: 0;
  padding: 0;
  height: 50.15px;
  width: 358px;
  margin-top: 48px;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: black;
  width: 358px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 28px;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .modal__close {
    top: -40px;
    right: 10px;
    width: 26px;
    height: 26px;
  }

  .modal__description {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 28px;
    font-size: 18px;
    line-height: 22px;
  }
  .popup__button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
  }
}
