.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 17px;
  margin: 0 auto;
  max-width: 880px;
  list-style: none;
  padding: 0px;
}

@media screen and (max-width: 900px) and (min-width: 650px) {
  .cards{
    max-width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    max-width: 282px;
  }
}
